:host{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
button{
  border: none;
  border-radius: 50px;
  background: red;
  font-size: 16px;
  color: black;

  width: 60%;
  padding: 10px;
  }
}
